{% extends 'base/base.html' %}

{% block content %}
    <link rel="stylesheet" href="/media/css/rev_test_home.css">
    
    <!-- Table Container -->
    <div class="container">
        <h1>Test Sessions</h1>

        <div class="table-container">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Created Date</th>
                        <th>Topics</th>
                        <th>Total Questions</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for session in test_sessions %}
                        <tr data-link="rev_test/?test_id={{ session.test_id }}">
                            <td>{{ session.created_at|date:"d-m-Y H:i A" }}</td>
                            <td>{{ session.selections|join:", " }}</td> <!-- Join topics in selections -->
                            <td>{{ session.total_questions|floatformat:0  }}</td>
                            <td>{{ session.score|floatformat:0  }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">No test sessions available.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const rows = document.querySelectorAll('.styled-table tbody tr');

            rows.forEach(row => {
                row.addEventListener('click', function() {
                    const link = this.getAttribute('data-link');
                    window.location.href = link; // Navigate to the review page for this test session
                });
            });
        });
    </script>
{% endblock %}

{% block pp %}
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">
            <i class="fas fa-user-circle profile-icon"></i>
            {{ user.username }}
        </a>
        <div class="dropdown-content">
            <a href="#">Settings</a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </li>
{% endblock %}
