{% extends 'base/base.html' %}

{% block title %}Home-Login{% endblock title %}Home-Register

{% block content %}
<link rel="stylesheet" href="/media/css/signup.css">
<div class="signup-container">
    <div class="signup-box">
        <h2>Login Here</h2>
        <form method="POST">
            {% csrf_token %}
            {% include "base/alert.html" %}
            
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username">
            </div>
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
            </div>
            <button type="submit">Login</button>
            <p>Dont have an account? <a href="/signup">Signup</a></p>
            <p>Forgot Password? <a href="password-reset">Reset Password</a></p>
        </form>
    </div>
</div>
{% endblock %}
